#list-section {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  background-color: #f9f;
}

/*
*  colors
*  hexadecimal color codes
*  rgb color codes
*  rgba color codes
*  hsl color codes
*  hsla color codes
*
*
* FONTS
* font size :- px, em, rem, %, vw, vh
* font family :- serif, sans-serif, monospace, cursive, fantasy, system-ui
* font weight :- normal, bold, bolder, lighter, 100-900
* font style :- normal, italic, oblique
*/
